
@{
    ViewBag.Title = "Processo 12.2 – Realizar as Aquisições";
}

<h2>Processo 12.2 – Realizar as Aquisições</h2>
<a href="/Execucao/Index">Voltar</a>
<div>
    Consistem em realizar todas aquisições necessárias para realização do projeto sem comprometer prazos ou orçamentos.
    <div>
        <h2>Entradas do processo</h2>
        <div>
            <b>Plano de gerenciamento do projeto</b>
            <br />
            Contém todo o planejamento da forma como as aquisições devem ser feitos, incluindo critérios de escolha dos fornecedores e critérios de aceitação das aquisições, além de ter informações de quando essas aquisições serão feitas.
        <br />
        </div>
        <div>
            <b>Documentos de aquisição</b>
            <br />
            Solicitações de propostas enviadas aos fornecedores na etapa de planejamento do projeto, contendo informações sobre oque foi solicitado.
            <br />
        </div>
        <div>
            <b>Critérios para seleção de fontes</b>
            <br />
            Critérios contidos no processo 12.1, como as propostas dos fornecedores serão avaliadas e quais critérios serão priorizados.
            <br />
        </div>
        <div>
            <b>Lista de fornecedores qualificados</b>
            <br />
            Lista com fornecedores que foram selecionados anteriormente a partir de experiências passadas de fornecimento, ou algum fornecedor que tenha sido indicado.
            <br />
        </div>
        <div>
            <b>Proposta de fornecedores</b>
            <br />
            Propostas devem ser avaliadas para se verificar quais estão de acordo com oque foi solicitado e encontrar as melhores condições oferecidas dentre todas as propostas.
            <br />
        </div>
        <div>
            <b>Documentos do projeto</b>
            <br />
            Outros documentos de projeto também podem servir de entrada para esse processo, tais como:
            <ul>
                <li>Registro de riscos</li>

                <li>Decisões contratuais relacionadas aos riscos</li>
            </ul>
        </div>
        <div>
            <b>Decisões de fazer ou comprar</b>
            <br />
            De acordo com o processo 12.1, todas as decisões referentes aos itens necessários para realização do projeto serão adquiridos de terceiros e quais desses itens serão desenvolvidos internamente.
            <br />
        </div>
        <div>
            <b>Acordos de cooperação</b>
            <br />
            Acordo de cooperação com todos stakeholders do projeto.
            <br />
        </div>
        <div>
            <b>Ativos de processos organizacionais</b>
            <br />
            Informações como histórico de aquisições passadas as quais podem ajudar no projeto atual, tendo uma lista de melhores fornecedores por produto, os quais já foram requeridos no passado.
            <br />
        </div>
    </div>
    <br />
    <div>
        <h2>
            Ferramentas e técnicas
        </h2>
        <div>
            <b>Reuniões com licitantes</b>
            <br />
            Para melhor entendimento de propostas de licitantes e do que está sendo requisitado, reuniões de alinhamento são fundamentais para garantir total entendimento sobre as requisições.
            <br />
        </div>
        <div>
            <b>Técnicas de avaliação de propostas</b>
            <br />
            Algumas propostas podem requisitar conhecimentos mais técnicos e complexos, e ter uma pessoa especializada para analisar a proposta para aprová-la é fundamental.
            <br />
        </div>
        <div>
            <b>Estimativas independentes</b>
            <br />
            A organização que vai executar o projeto pode pedir orçamentos para fornecedores, podendo assim comparar orçamento entre todos fornecedores que foram requisitados, e até se for o caso identificar necessidades de mudança de prazos planejados.
            <br />
        </div>
        <div>
            <b>Opiniões especializadas</b>
            <br />
            É essencial ter alguém do âmbito técnico para que possa avaliar propostas que requerem algum tipo de conhecimento mais profundo, assim podendo auxiliar na aprovação da proposta ou não.
            <br />
        </div>
        <div>
            <b>Publicidade</b>
            <br />
            Em caso de necessidade de consultar mais fornecedores do que os já listados, pode-se optar por fazer uma requisição pública de propostas.
            <br />
        </div>
        <div>
            <b>Pesquisa na internet</b>
            <br />
            Pesquisas podem fazer com que orçamentos dados por fornecedores presentes em sua lista sejam comparados.
            <br />
        </div>
        <div>
            <b>Negociações das aquisições</b>
            <br />
            Após a pré-seleção das propostas é interessante negociar termas dessas propostas com os possíveis fornecedores, com isso é possível obter informações como o custo e o prazo, e até uma melhora na qualidade da proposta apresentada anteriormente.
            <br />
        </div>
    </div>
    <br />
    <div>
        <h2>Saída do processo</h2>
        <div>
            <b>Fornecedores selecionados</b>
            <br />
            Documento que lista os fornecedores que ficarão responsáveis pelo fornecimento de cada item.
            <br />
        </div>
        <div>
            <b>Adjudicação do controle de aquisição</b>
            <br />
            Cada fornecedor terá um contrato de prestação de serviços contendo informações das condições de fornecimento.
            <br />
        </div>
        <div>
            <b>Calendário de recursos</b>
            <br />
            Calendário onde serão feitas atualizações para conhecimento dos recursos que foram e serão fornecidos dos terceiros.
            <br />
        </div>
        <div>
            <b>Solicitações de mudança</b>
            <br />
            Podem ser necessárias mudanças em consequência do processo de negociação com fornecedores, e para isso é necessário uma solicitação de mudança com tudo documentado sobre a mudança.
            <br />
        </div>
        <div>
            <b>Atualização do Plano de gerenciamento do projeto</b>
            <br />
            Alguns dos documentos plano de gerenciamento do projeto podem necessitar atualização, alguns desses documentos são:
            <ul>
                <li>Plano de gerenciamento do cronograma <input type="file"/></li>

                <li>Plano de gerenciamento dos custos <input type="file" /></li>

                <li>Plano de gerenciamento das aquisições <input type="file" /></li>

                <li>Linha da base do escopo <input type="file" /></li>
            </ul>
            <br />
        </div>
        <div>
            <b>Atualizações dos documentos do projeto </b>
            <br />
            Como resultado do processo, alguns documentos podem ser atualizados, esses documentos são:
            <ul>
                <li>Documentação dos requisitos <input type="file" /></li>

                <li>Matriz de rastreabilidade de requisitos <input type="file" /></li>

                <li>Registro de riscos <input type="file" /></li>
            </ul>
        </div>
        <input type="button" value="Submeter"/>
    </div>
</div>