
@{
    ViewBag.Title = "Execução";
}

<h2>Execução</h2>
<h2>Processos</h2>
<ul>
    <li><a href="#">Processo 4.3 – Orientar e Gerenciar a Execução do Projeto</a></li>
    <li><a href="/Execucao/Qualidade">Processo 8.2 – Realizar a Garantia da Qualidade</a></li>
    <li><a href="/Execucao/MobilizarEquipe">Processo 9.2 – Mobilizar a Equipe do Projeto</a></li>
    <li><a href="#">processo 9.3 - Desenvolver a equipe do projeto</a></li>
    <li><a href="#">Processo 9.4 – Gerenciar a Equipe do Projeto</a></li>
    <li><a href="#">Processo 10.3 – Distribuir Informações</a></li>
    <li><a href="#">Processo 10.4 – Gerenciar as Expectativas das Partes Interessadas</a></li>
    <li><a href="/Execucao/Aquisicao">Processo 12.2 – Realizar as Aquisições</a></li>
</ul>