
@{
    ViewBag.Title = "Processo 8.2 – Realizar a Garantia da Qualidade";
}

<h2>Processo 8.2 – Realizar a Garantia da Qualidade</h2>
<a href="/Execucao/Index">Voltar</a>
<div class="container">
    <div>
        <h2>Entradas do processo</h2>:
        <div>
            <div>
                <b>Plano de gerenciamento do projeto</b>
                <br />
                Contem premissas de qualidade que devem ser consideradas para execução do projeto.
                <br />
            </div>
            <br />
            <div>
                <b>Métricas de qualidade</b>
                <br />
                Serão utilizadas para verificar se o projeto esta sendo executado conforme o planejado, dados sobre o andamento do projeto será comparado com as métricas para verificar se está ok e quanto está ok.
                <br />
            </div>
         <br />
            <div>
                <b>Informações sobre o desempenho do trabalho</b>
                <br />
                São dados sobre o andamento geral do projeto, que vão ser comparados com a métricas de qualidade.
                <br />
            </div>
            <br />
            <div>
                <b>Medições do controle da qualidade</b>
                <br />
                Feitas para verificar os níveis de qualidade das atividades ,entregas das atividades e fases que também serão compradas com as métricas de qualidade já definidas.
                <br />
            </div>
            
        </div>
    </div>

    <br />
    <div>
        <div>
            <h2>Ferramentas e Técnicas</h2>
        </div>
        <div>
            Utilizar as mesmas ferramentas e técnicas descritas no processo 8.1 Planejar a qualidade.
            <div>
                <b>Auditorias da qualidade</b>
                <br />
                Identifica o andamento da qualidade do projeto, boas praticas de produção que podem ser utilizadas em outras atividades, podendo também identificar deficiências a serem corrigidas nas atividades.
                <br />
            </div>
            <div>
                <b>Análise do processo</b>
                <br />
                Acompanhar como os processos estão sendo realizados para que possam ser encontradas boas práticas e deficiências e a serem melhoradas podendo também encontrar causas raiz dos problemas que pode ser comum também em outras atividades.
                <br />
            </div>
         </div>
    </div>
    <br />
    <div>
        <h2>Saídas do processo</h2>
        <div>
            <b>Atualizações em ativos de processos organizacionais</b>
            <br />
            Aqui podem ser adicionados as boas praticas encontradas durante o desenvolvimento e também as deficiências, assim desenvolvimentos futuros podem se utilizar dessas informações.
            <br />
        </div>
        <div>
            <b>Solicitações de mudanças</b>
            <br />
            As deficiências que foram encontradas durante o processo podem ter impactado outras atividades, fazendo com oque mudanças sejam requeridas, e para que isso aconteça, é necessário que uma solicitação seja gerada, para que a mudança ocorra dentro de todas atividades envolvidas.
            <br />
        </div>
        <div>
            <b>Atualizações do plano de gerenciamento do projeto</b>
            <br />
            Alterações sobre a qualidade do projeto ou do seu resultado podem requerer atualizações nos documentos, e alguns desses documentos são:
            <ul>
                <li>Plano de gerenciamento do cronograma <input type="file"/></li>

                <li>Plano de gerenciamento dos custos <input type="file" /></li>

                <li> Plano de gerenciamento da qualidade <input type="file" /></li>
            </ul>
            <br />
        </div>
        <div>
            <b>Atualizações nos documentos do projeto</b>
            <br />
            O resultado desse processo faz com que alguns documentos sejam atualizados, alguns desses documentos são:

            <ul>
                <li>Relatório de auditoria de qualidade <input type="file" /></li>

                <li>Planos de treinamento <input type="file" /></li>

                <li>Documentação dos processos <input type="file" /></li>
           </ul>
            <br />
        </div>
        <input type="button" value="Submeter"/>
    </div>
</div>

